<div class="navbar">
  <nav>
    <div class="logo">
      <a routerLink="/accueil" aria-label="Accueil">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
    </div>

    <ul>
      <li><a routerLink="/accueil" routerLinkActive="active" class="btn">Accueil</a></li>
      <li><a routerLink="/services" routerLinkActive="active" class="btn">Services</a></li>
      <li><a routerLink="/mes-reservations" routerLinkActive="active" class="btn">Mes Réservations</a></li>
      <li><a routerLink="/ajouter-prestataire" routerLinkActive="active" class="btn">Ajouter Prestataire</a></li>
      <li><a routerLink="/admin" routerLinkActive="active" class="admin-btn">Admin</a></li>
    </ul>
  </nav>
</div>

